.todo {
  width: 600px;
  min-height: 732px;
  border-radius: 20px;
  background: #fff;
  margin: auto;
  margin-top: 174px;
  display: flex;
  flex-direction: column;
  padding: 0px 44px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  /* background-color: green; */
}

.todo-header {
  /* background: red; */
  margin-top: 84px;
  color: #002765;
  font-size: 36px;
  font-weight: 600;
  line-height: 64px;
}

.todo-add {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.todo-input {
  background-color: aqua;
  border-radius: 50px;
  background: #edeef0;
  border: none;
  outline: none;
  width: 576px;
  height: 60px;
  padding-left: 35px;
  font-size: 20px;
}

.todo-add-btn {
  border-radius: 50px;
  background: #ff6739;
  width: 187px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  color: #fff;
  font-size: 26px;
  font-weight: 550;
  cursor: pointer;
}
